examples/node-red-flows.json
{
  "name": "MPV Pi Player Control",
  "info": "Node-RED flows for controlling MPV Pi Player on Raspberry Pi",
  "flows": [
    {
      "id": "mpv_player_controls",
      "type": "tab",
      "label": "MPV Player Controls",
      "disabled": false,
      "info": "Complete control flows for MPV Pi Player"
    },
    {
      "id": "play_video_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Play example.mp4",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"file\":\"example.mp4\"}",
      "payloadType": "json",
      "x": 140,
      "y": 80,
      "wires": [["play_video_request"]],
      "info": "Change 'example.mp4' to your video filename"
    },
    {
      "id": "play_video_request",
      "type": "http request",
      "z": "mpv_player_controls",
      "name": "Play Video",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://{{PI_IP}}:5000/api/play",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 350,
      "y": 80,
      "wires": [["play_response_debug"]],
      "info": "Replace {{PI_IP}} with your Raspberry Pi IP address"
    },
    {
      "id": "play_response_debug",
      "type": "debug",
      "z": "mpv_player_controls",
      "name": "Play Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": true,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "payload.message",
      "statusType": "msg",
      "x": 560,
      "y": 80,
      "wires": []
    },
    {
      "id": "pause_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Pause/Resume",
      "props": [],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 140,
      "y": 140,
      "wires": [["pause_request"]]
    },
    {
      "id": "pause_request",
      "type": "http request",
      "z": "mpv_player_controls",
      "name": "Pause Toggle",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://{{PI_IP}}:5000/api/pause",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 360,
      "y": 140,
      "wires": [["pause_response_debug"]]
    },
    {
      "id": "pause_response_debug",
      "type": "debug",
      "z": "mpv_player_controls",
      "name": "Pause Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": true,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "payload.message",
      "statusType": "msg",
      "x": 570,
      "y": 140,
      "wires": []
    },
    {
      "id": "stop_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Stop",
      "props": [],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 110,
      "y": 200,
      "wires": [["stop_request"]]
    },
    {
      "id": "stop_request",
      "type": "http request",
      "z": "mpv_player_controls",
      "name": "Stop Playback",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://{{PI_IP}}:5000/api/stop",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 360,
      "y": 200,
      "wires": [["stop_response_debug"]]
    },
    {
      "id": "stop_response_debug",
      "type": "debug",
      "z": "mpv_player_controls",
      "name": "Stop Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": true,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "payload.message",
      "statusType": "msg",
      "x": 560,
      "y": 200,
      "wires": []
    },
    {
      "id": "skip_forward_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Skip +30s",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"seconds\":30}",
      "payloadType": "json",
      "x": 120,
      "y": 260,
      "wires": [["skip_request"]]
    },
    {
      "id": "skip_backward_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Skip -30s",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"seconds\":-30}",
      "payloadType": "json",
      "x": 120,
      "y": 320,
      "wires": [["skip_request"]]
    },
    {
      "id": "skip_request",
      "type": "http request",
      "z": "mpv_player_controls",
      "name": "Skip",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://{{PI_IP}}:5000/api/skip",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 350,
      "y": 290,
      "wires": [["skip_response_debug"]]
    },
    {
      "id": "skip_response_debug",
      "type": "debug",
      "z": "mpv_player_controls",
      "name": "Skip Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": true,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "payload.message",
      "statusType": "msg",
      "x": 560,
      "y": 290,
      "wires": []
    },
    {
      "id": "seek_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Seek to 300s",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"position\":300}",
      "payloadType": "json",
      "x": 130,
      "y": 380,
      "wires": [["seek_request"]]
    },
    {
      "id": "seek_request",
      "type": "http request",
      "z": "mpv_player_controls",
      "name": "Seek to Position",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://{{PI_IP}}:5000/api/seek",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 370,
      "y": 380,
      "wires": [["seek_response_debug"]]
    },
    {
      "id": "seek_response_debug",
      "type": "debug",
      "z": "mpv_player_controls",
      "name": "Seek Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": true,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "payload.message",
      "statusType": "msg",
      "x": 580,
      "y": 380,
      "wires": []
    },
    {
      "id": "volume_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Set Volume 50%",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"level\":50}",
      "payloadType": "json",
      "x": 140,
      "y": 440,
      "wires": [["volume_request"]]
    },
    {
      "id": "volume_request",
      "type": "http request",
      "z": "mpv_player_controls",
      "name": "Set Volume",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://{{PI_IP}}:5000/api/volume",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 350,
      "y": 440,
      "wires": [["volume_response_debug"]]
    },
    {
      "id": "volume_response_debug",
      "type": "debug",
      "z": "mpv_player_controls",
      "name": "Volume Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": true,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "payload.message",
      "statusType": "msg",
      "x": 570,
      "y": 440,
      "wires": []
    },
    {
      "id": "status_inject",
      "type": "inject",
      "z": "mpv_player_controls",
      "name": "Get Status",
      "props": [],
      "repeat": "5",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 130,
      "y": 500,
      "wires": [["status_request"]]
    },
    {
      "id": "status_request",
      "type": "http request",
      "z": "mpv_player_controls",
      "name": "Get Status",
      "method": "GET",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://{{PI_IP}}:5000/api/status",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 350,
      "y": 500,
      "wires": [["status_response_process"]]
    },
    {
      "id": "status_response_process",
      "type": "function",
      "z": "mpv_player_controls",
      "name": "Process Status",
      "func": "// Extract status information\nlet status = msg.payload;\n\n// Create formatted output\nlet output = {\n    state: status.state || 'unknown',\n    file: status.current_file ? status.current_file.split('/').pop() : 'No file',\n    position: Math.floor(status.position || 0),\n    duration: Math.floor(status.duration || 0),\n    volume: status.volume || 0,\n    sync_mode: status.sync_mode || 'standalone',\n    progress: status.duration > 0 ? Math.round((status.position / status.duration) * 100) : 0\n};\n\nmsg.payload = output;\nmsg.topic = 'player_status';\n\n// Set node status\nnode.status({\n    fill: status.state === 'playing' ? 'green' : \n          status.state === 'paused' ? 'yellow' : 'red',\n    shape: 'dot',\n    text: `${output.state} - ${output.position}s / ${output.duration}s`\n});\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 560,
      "y": 500,
      "wires": [["status_debug"]]
    },
    {
      "id": "status_debug",
      "type": "debug",
      "z": "mpv_player_controls",
      "name": "Status Output",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 760,
      "y": 500,
      "wires": []
    },
    {
      "id": "comment_setup",
      "type": "comment",
      "z": "mpv_player_controls",
      "name": "Setup Instructions",
      "info": "MPV Pi Player - Node-RED Control Flow\n\n1. Replace {{PI_IP}} with your Raspberry Pi IP address in all HTTP request nodes\n2. Ensure your Pi is running the MPV Pi Player service\n3. Upload video files through the web interface first\n4. Use the inject buttons to control playback\n\nAPI Endpoints:\n- POST /api/play - Start playback\n- POST /api/pause - Toggle pause\n- POST /api/stop - Stop playback\n- POST /api/skip - Skip forward/backward\n- POST /api/seek - Seek to position\n- POST /api/volume - Set volume\n- GET /api/status - Get current status\n- GET /api/files - List media files",
      "x": 140,
      "y": 20,
      "wires": []
    }
  ]
}
